<template name="DetailsPageLeague">
 {{#if leagueIsPlantronics name}}
  	{{> leagueItemPlantronics}}
 {{else}}
  
  	{{#if leagueIsIntel name}}
  		{{> leagueItemIntel}}
 	{{else}}

 		{{#if leagueIsBT name}}
  		{{> leagueItemBT}}
 	{{else}}

 		{{#if leagueIsAPC name}}
  		{{> leagueItemAPC}}
 	{{else}}

 		{{#if leagueIsZTE name}}
  		{{> leagueItemZTE}}
 	{{else}}

 		{{#if leagueIsMicrosoft name}}
  		{{> leagueItemMicrosoft}}
 	{{else}}

 		{{#if leagueIsFujitsu name}}
  		{{> leagueItemFujitsu}}
 	{{else}}

 	{{#if leagueIsDellServer name}}
  		{{> leagueItemDellServer}}
 	{{else}}

 	{{#if leagueIsDellComputing name}}
  		{{> leagueItemDellComputing}}
 	{{else}}

 	{{#if leagueIsDellVisual name}}
  		{{> leagueItemDellVisual}}
 	{{else}}

 	{{#if leagueIsAcerComputing name}}
  		{{> leagueItemAcerComputing}}
 	{{else}}

 	{{#if leagueIsAcerVisual name}}
  		{{> leagueItemAcerVisual}}
 	{{else}}

 	{{#if leagueIsLenovoComputing name}}
  		{{> leagueItemLenovoComputing }}
 	{{else}}

 	{{#if leagueIsLenovoServer name}}
  		{{> leagueItemLenovoServer }}
 	{{else}}

 	{{#if leagueIsTpLink name}}
  		{{> leagueItemTpLink }}
 	{{else}}
	{{#if leagueIsDLink name}}
  		{{> leagueItemDLink }}
 	{{else}}
  		{{> leagueItem}}
 	{{/if}}
 {{/if}}
 {{/if}}
 {{/if}}
 {{/if}}
 {{/if}}
 {{/if}}
 {{/if}}
 {{/if}}
 {{/if}}
 {{/if}}
 {{/if}}
 {{/if}}
 {{/if}}
 {{/if}}
  {{/if}}


</template>



