<template name="DetailsPageLeague">
 {{#if leagueIsPlantronics name}}
  	{{> leagueItemPlantronics}}
 {{else}}
  
  	{{#if leagueIsIntel name}}
  		{{> leagueItemIntel}}
 	{{else}}

 		{{#if leagueIsBT name}}
  		{{> leagueItemBT}}
 	{{else}}

 		{{#if leagueIsAPC name}}
  		{{> leagueItemAPC}}
 	{{else}}

 		{{#if leagueIsZTE name}}
  		{{> leagueItemZTE}}
 	{{else}}

 		{{#if leagueIsMicrosoft name}}
  		{{> leagueItemMicrosoft}}
 	{{else}}

 		{{#if leagueIsFujitsu name}}
  		{{> leagueItemFujitsu}}
 	{{else}}
  		{{> leagueItem}}
 	{{/if}}
 {{/if}}
 {{/if}}
 {{/if}}
 {{/if}}
 {{/if}}
  {{/if}}

 
</template>



