<!-- Displays one League Table on the front page (Top 5) -->
<template name="frontpageLeague">
  <div class="league col-md-3">
    <div class="league-content">
      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><a href="{{pathFor 'detailsPageLeague'}}">{{name}}</a></div>
        <div class="panel-body">
          <p class="lead">Top 5</p>
        </div>

        <!-- List group -->
        {{> resellersListShort}}
      </div>
    </div>
  </div>
</template>