<!-- Displays one League Table on the front page (Top 5) -->
<template name="frontpageLeague">
  <!-- BEGIN LEAGUE COL -->
  <div class="league col-md-4">
    <!-- BEGIN LEAGUE-CONTENT -->
    <div class="league-content">
      <div class="panel panel-default">
        <!-- Default panel contents -->
        <a href="{{pathFor 'detailsPageLeague'}}"><div class="panel-heading {{name}}"><!--<a href="{{pathFor 'detailsPageLeague'}}">{{name}}</a>--></div></a>
        <!--<div class="panel-body {{name}} list">-->
          <!--<h2 class="{{name}}"><a href="{{pathFor 'detailsPageLeague'}}">{{name}}</a></h2>-->
          <!--<p class="lead">{{name}}</p>-->

        <!--</div> END PANEL BODY -->

        <!-- List group -->
        {{> resellersListShort}}
        <!-- PANEL FOOTER -->
        <div class="panel-footer league_footer"><a class="btn btn-default" href="{{pathFor 'detailsPageLeague'}}" role="button">{{name}} Full League Table</a>
        </div> <!-- END PANEL FOOTER -->
      </div> <!-- END DEFAULT PANEL CONTENTS -->
    </div><!-- END LEAGUE-CONTENT -->

  </div><!-- END LEAGUE COL -->


</template>