<!-- Displays one league table on the Details Page (shows all Resellers, not just the top 5) -->
<template name="leagueItem">
  <div class="league col-md-3">
    <div class="league-content">
      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><a href="{{pathFor 'detailsPageLeague'}}">{{name}}</a></div>
        <div class="panel-body">
          <p>Total {{resellersForThisLeagueCount name}}</p>
        </div>

        <!-- list of all the resellers -->
        {{> resellersList}}
      </div>
    </div>
  </div>
</template>