<template name="leagueItemSamsung">
  <div class="col-md-8">
    Left Hand column
  </div>
  <div class="league col-md-3">
    <div class="league-content">
      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><a href="{{pathFor 'leagueDetails'}}">SAMSUNG {{name}}</a></div>
        <div class="panel-body">
          <p>Total {{resellersForThisLeagueCount name}}</p>
        </div>

        <!-- List group -->
        {{> resellersList}}
      </div>
    </div>
  </div>
</template>