<template name="leagueItemPlantronics">
   

    <!--<div class="intro" id="panel_intro">
        <div class="intro-body">
          <h2>Win a trip to the Rugby World Cup</h2>
          <p>We are giving you the chance to win a VIP experience at the England vs Wales game on the 26th September 2015 courtesy of Exertis. The prize includes a four course meal in a suite within Twickenham stadium, category A match ticket, a complimentary bar and much more.</p>
        </div> INTRO-BODY-->
      <!--</div> END INTRO-->
     
      
      <!-- BEGIN JUMBOTRON--> 
      <div class="jumbotron {{hideondetailspage}}">
        
        <img src="/images/exertis_rugby_cup_banner.jpg" alt="Exertis Rugby Cup Predictor" >

        <div class="intro" id="panel_intro">
        <div class="intro-body">
         
          <p>We are giving you the chance to win a VIP experience at the England vs Wales game on the 26th September 2015 courtesy of Exertis and Plantronics. The prize includes a four course meal in a suite within Twickenham stadium, category A match ticket, a complimentary bar and much more. </p>
        </div> <!--INTRO-BODY-->
      </div><!-- END INTRO-->

    </div><!-- END JUMBOTRON-->



     <div class="container item">
  <div class="col-md-4 side_bar">

    <img src="/images/plantronics-1.jpg" alt="plantronics Logo">
    
    <h4>Rules</h4>
       
       <p>The top four resellers achieving over their Plantronics revenue target will win their place at the biggest sporting event of the year.</p>
       <p>Incentive runs between 1st July and 31st August 2015 </p>

    <h4>Terms and Conditions</h4>

        <p>To accept any of the prizes given out your business will accept tax liability for the prize. </p>
		<p>One ticket available per reseller. </p>
		<p>Exertis will need director level approval for customers to take part and they would need to nominate the attendee if your company is successful.</p>

    <h4>Your unique username</h4> 
           
        <p>You should have been sent a unique username along with your revenue target. If you haven’t received this please speak to your Account Manager.</p>
  </div>

  <div class="league col-md-8 inner col-sm-12 col-xs-12">
    <div class="league-content">
      <div class="panel league plantronics">
        <!-- Default panel contents -->
        <div class="panel-heading name"><!--<a href="{{pathFor 'leagueDetails'}}">{{name}}</a>-->
          <h2>League Table</h2>
        </div>
        <div class="panel-body count">
          <!--<p>Total {{resellersForThisLeagueCount name}}</p>-->
        </div>
        <!-- List group -->
        {{> resellersList}}
      </div>
    </div>
  </div>
</div>
</template>