@charset "utf-8";
/* CSS Document */

.list-group-item {
	color: #17ADF5;
}
.Dell.panel-heading {
	background-color: #4B27E0;		
}
.Dell.panel-heading a {
	color: #EB070A;
}
.Netgear.panel-heading {
	background-color: #000000;	
}