
/* FRONT PAGE LAYOUT */


/* BEGIN Large desktop */

body { 
  background: url("./images/rugby_pitch.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Muli', Helvetica, arial, verdana sans-serif;
}

p, h4, h5, h6{
  color: #575756;
}

.navbar-default{
	background: #f51e1e;
	border: none;
	border-radius: 0px;
	width: 100%;
	height: 80px;
}

img.rugby-logo {
  max-width: 150px;
  padding-top: 22px;
  }
  
.jumbotron img.sponsor {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.sponsor p {
	font-size: 16px;
	margin-bottom: 0;	
}

  .exertis_info{
    float: right;
    color: white;
    text-align: right;
      font-family: 'Muli', sans-serif;
      font-size: 18px;
      margin-right: 1%;
      font-weight: bold;
      line-height: 22px;

  }

.container .jumbotron, .container-fluid .jumbotron{padding-right: 15px; padding-left: 15px;}

.jumbotron{
	background: none;
  margin-top: -50px;

}

.jumbotron img{
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
	-webkit-box-shadow: -1px 4px 34px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 4px 34px 0px rgba(0,0,0,0.75);
	box-shadow: -1px 4px 34px 0px rgba(0,0,0,0.75);

}

.container{
	/*background-color: rgba(0, 0, 0, 0.7);
	background: rgba(0, 0, 0, 0.7);
	color: rgba(0, 0, 0, 0.7);*/
	
}
.panel {
	border-radius: 0;	
}
.btn {
	border-radius: 0;	
}
.btn-default {
	border: none;
	color: #FFFFFF;
	background-color: #888888;	
}

.intro {
	/*background-color: rgba(255, 255, 255, 0.6);
background: rgba(255, 255, 255, 0.6);
color: rgba(255, 255, 255, 0.6);*/
background: #fff;
-webkit-box-shadow: -1px 4px 34px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 4px 34px 0px rgba(0,0,0,0.75);
	box-shadow: -1px 4px 34px 0px rgba(0,0,0,0.75);
	padding: 0% 2% 0% 2%;
}

.intro-body{
	font-size: 18px;
	margin-top: 2%;
	font-weight: 500;
	text-align: left;
	color: #000000;
	padding: 15px;
  font-family: 'Muli', sans-serif;
}
.intro-body p{
    margin-top: 10px;
}

.intro h1{
	font-weight: 100;
	letter-spacing: 1px;
	font-family: 'Muli', sans-serif;
	font-size: 52px;
	color: #f51e1e;
	text-align: left;
	/*text-shadow: 0px 2px 7px rgba(150, 150, 150, 1);*/
}

.leagues{
  margin-top: -5%;
}

.league_footer{ text-align: right; color: #000000;}

.league_footer a:hover{
  color: #FFFFFF;
  background: #F51E1E;
}

/*league table styles*/

.panel-default{
	-webkit-box-shadow: -1px 4px 34px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 4px 34px 0px rgba(0,0,0,0.75);
	box-shadow: -1px 4px 34px 0px rgba(0,0,0,0.75);

}

.panel-default > .panel-heading{
	/*background: #000000;*/
	font-family: 'Muli', sans-serif;
	font-weight: bold;
}

.panel-body a{
	color: #000000;
	font-family: 'Muli', sans-serif;
	font-weight: 600;
	letter-spacing: 3px;
	text-decoration: none;
	font-size: 22px;
}

.reseller{
	color: green;
	font-family: 'Muli', sans-serif;
}

footer{
  background: #f51E1E;
  /*position:fixed;
   left:0px;
   bottom:0px;*/
   height:140px;
   width:100%;

}


.footer p {
  color: #FFFFFF;
  padding: 60px 0 20px 0;
  float: left;
}

footer img{
  padding-top: 65px;
  float: right;
}

.container.footer{
  /*background: blue;*/
  width: 60%;
  height: 100px;
}

.table.resellerlist{
  overflow: hidden;
}

.table.resellerlist td{
 font-size: 16px;
 padding: 10px;
 background: #eeeeee;
border: 1px solid #ffffff
}



/*DELL-SERVER-LEAGUE-STYLES*/

.panel-heading.Dell-Server{
	 background: url("./images/panel-header-dell-server-2.jpg") no-repeat center center; 
	 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 200px;
}

/*DELL-COMPUTING-LEAGUE-STYLES*/

.panel-heading.Dell-Computing{
	 background: url("./images/panel-header-dell-computing-2.jpg") no-repeat center center;
	 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 200px;
}

/*DELL-VISUAL-LEAGUE-STYLES*/

.panel-heading.Dell-Visual{
	 background: url("./images/panel-header-dell-visual-2.jpg") no-repeat center center;
	 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 200px;
}

.panel-heading.D-Link {
	 background: url("./images/panel-header-dlink.jpg") no-repeat center center;
	 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 200px;
}

/*INTEL-LEAGUE-STYLES*/

.panel-heading.Intel{
	 background: url("./images/panel-header-intel-computing-2.jpg") no-repeat center center;
	 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 200px;
}

/*MICROSOFT-LEAGUE-STYLES*/

.panel-heading.Microsoft{
	 background: url("./images/panel-header-microsoft-computing-2.jpg") no-repeat center center;
	 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 200px;
}

/*ACER-COMPUTING-LEAGUE-STYLES*/

.panel-heading.Acer-Computing{
	 background: url("./images/panel-header-acer-computing-2.jpg") no-repeat center center;
	 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 200px;
}

/*ACER-VISUAL-LEAGUE-STYLES*/

.panel-heading.Acer-Visual{
	 background: url("./images/panel-header-acer-visual-2.jpg") no-repeat center center;
	 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 200px;
}

/*PLANTRONICS-LEAGUE-STYLES*/

.panel-heading.Plantronics{
	 background: url("./images/panel-header-plantronics-uc-2.jpg") no-repeat center center;
	 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 200px;
}

/*fUJITSU-LEAGUE-STYLES*/

.panel-heading.Fujitsu{
	 background: url("./images/panel-header-fujitsu-server-2.jpg") no-repeat center center;
	 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 200px;
}

/*LENOVO-COMPUTING-LEAGUE-STYLES*/

.panel-heading.Lenovo-Computing{
	 background: url("./images/panel-header-lenovo-computing-2.jpg") no-repeat center center;
	 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 200px;
}

/*LENOVO-SERVER-LEAGUE-STYLES*/

.panel-heading.Lenovo-Server{
	 background: url("./images/panel-header-lenovo-server-2.jpg") no-repeat center center;
	 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 200px;
}

/*APC-LEAGUE-STYLES*/

.panel-heading.APC{
	 background: url("./images/panel-header-apc-networks-2.jpg") no-repeat center center;
	 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 200px;
}

/*ZTE-LEAGUE-STYLES*/

.panel-heading.ZTE{
	 background: url("./images/Panel-header-ZTE-mobile-2.jpg") no-repeat center center;
	 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 200px;
}

/*BT-LEAGUE-STYLES*/

.panel-heading.BT{
	 background: url("./images/panel-header-bt-uc-2.jpg") no-repeat center center;
	 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 200px;
}

/*TP-LINK-LEAGUE-STYLES*/

.panel-heading.TP-Link{
	 background: url("./images/panel-header-tp-links-networks-2.jpg") no-repeat center center;
	 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 200px;
}


/*********END********** LARGE DESKTOP *********END********** */
  






  /* *****BEGIN******  Portrait tablet to landscape and desktop *****BEGIN****** */
  /* *****BEGIN******  min-width: 580px  max-width: 979px *****BEGIN****** */
  
  @media (min-width: 580px) and (max-width: 979px) {

img.rugby-logo {
  max-width: 100px;
}


.intro {
	padding: 0% 3% 0% 3%;
}

.intro-body{
	font-size: 14px;
  text-align: center;
}

.intro h1{
	font-size: 32px;
	font-weight: bold;
 text-align: center;
	}

    .leagues{
  margin-top: -9%;
}


  	  			  	  	 /*DELL-SERVER-LEAGUE-STYLES --- Portrait tablet to landscape and desktop*/
  	.panel-heading.Dell-Server{
	 background: url("./images/DELL-SERVER-responsive_V2.jpg") no-repeat center center;
}
  			  	  	 /*DELL-COMPUTING-LEAGUE-STYLES --- Portrait tablet to landscape and desktop*/
  	.panel-heading.Dell-Computing{
	 background: url("./images/DELL-COMPUTING-responsive_V2.jpg") no-repeat center center;
}
  			  	  	 /*DELL-VISUAL-LEAGUE-STYLES --- Portrait tablet to landscape and desktop*/
  	.panel-heading.Dell-Visual{
	 background: url("./images/DELL-visual-responsive_V2.jpg") no-repeat center center;
}
	.panel-heading.D-Link{
	 background: url("./images/dlink-responsive.jpg") no-repeat center center;
}
  		  	  	 /*INTEL-LEAGUE-STYLES --- Portrait tablet to landscape and desktop*/
  	.panel-heading.Intel{
	 background: url("./images/INTEL-COMPUTING-responsive_V1.jpg") no-repeat center center;
}

  	  	  	 /*MICROSOFT-LEAGUE-STYLES --- Portrait tablet to landscape and desktop*/
  	.panel-heading.Microsoft{
	 background: url("./images/MICROSOFT-COMPUTING-responsive_V2.jpg") no-repeat center center;
}

  	  	 /*ACER-COMPUTING-LEAGUE-STYLES --- Portrait tablet to landscape and desktop*/
  	.panel-heading.Acer-Computing{
	 background: url("./images/acer-computing-responsive_v2.jpg") no-repeat center center;
}

  	 /*ACER-VISUAL-LEAGUE-STYLES --- Portrait tablet to landscape and desktop*/
  	.panel-heading.Acer-Visual{
	 background: url("./images/acer-visual-responsive_v2.jpg") no-repeat center center;
}
  	  	  	  	  				 /*PLANTRONICS-LEAGUE-STYLES --- Portrait tablet to landscape and desktop*/
  	.panel-heading.Plantronics{
	 background: url("./images/plantronic-uc-responsive_v1.jpg") no-repeat center center;
}

  	  	  	  				 /*FUJITSU-LEAGUE-STYLES --- Portrait tablet to landscape and desktop*/
  	.panel-heading.Fujitsu{
	 background: url("./images/fujitsu-server-responsive_v2.jpg") no-repeat center center;
	 
}
  	  	  				 /*Lenovo-Computing-LEAGUE-STYLES --- Portrait tablet to landscape and desktop*/
  	.panel-heading.Lenovo-Computing{
	 background: url("./images/lenovo-computing-responsive_v1.jpg") no-repeat center center;
}

  	  				 /*Lenovo-server-LEAGUE-STYLES --- Portrait tablet to landscape and desktop*/
  	.panel-heading.Lenovo-Server{
	 background: url("./images/lenovo-server-responsive_v2.jpg") no-repeat center center;
}

  				 /*APC-LEAGUE-STYLES --- Portrait tablet to landscape and desktop*/
  	.panel-heading.APC{
	 background: url("./images/apc-networks-responsive_v2.jpg") no-repeat center center;
}


  			 /*ZTE-LEAGUE-STYLES --- Portrait tablet to landscape and desktop*/
  	.panel-heading.ZTE{
	 background: url("./images/zte-mobile-responsive_v2.jpg") no-repeat center center;
}

  		 /*BT-LEAGUE-STYLES --- Portrait tablet to landscape and desktop*/
  	.panel-heading.BT{
	 background: url("./images/bt-uc-responsive_v2.jpg") no-repeat center center;
}

  	  /*TP-LINK-LEAGUE-STYLES --- Portrait tablet to landscape and desktop*/

.panel-heading.TP-Link{
	 background: url("./images/TP-Links-responsive_v2.jpg") no-repeat center center;
}
  }/*END MEDIA*/


    /* *****END******  Portrait tablet to landscape and desktop *****END****** */
  /* *****END******  min-width: 580px  max-width: 979px *****END****** */



 
  /* *****BEGIN******  min-width: 300px  max-width: 579px *****BEGIN****** */

 @media (min-width: 300px) and (max-width: 579px) {

.intro-body{
	font-size: 10px;
	
}

.intro h1{
	font-size: 26px;
	font-weight: bold;
	
  	}

  	#main{
	margin-top: -12%;
}
 
     .leagues{
  margin-top: -11%;
}


.hideondetailspage {
  display:none;
}
 }/*END MEDIA*/


 /* *****END******  min-width: 300px  max-width: 579px *****END****** */

     /* *****END******  FRONT PAGE LAYOUT *****END******  */




/*  *****BEGIN******  BEGIN DETAILS HTML PAGE STYLES  *****BEGIN****** */

.intro h2{
  font-weight: 100;
  letter-spacing: 1px;
  font-family: 'Muli', sans-serif;
  font-size: 52px;
  color: #f51e1e;
  text-align: center;
  
}

.container.item{
  width: 98%;
  padding-left: 0px;
  padding-right: 0px;
}

.side_bar{
  background: #ffffff;
  margin-top: 2%;
  font-family: 'Muli', sans-serif;
  padding-bottom: 2%;
  margin-top: -50px;
  margin-bottom: 30px;
}

.side_bar h4{
  font-weight: bold;
  padding: 15px 0 5px 0;
}

.side_bar p{
  font-size: 16px;
  line-height: 21px;
}

.inner{
float: right;
margin-top: 2%;
position: relative;
left: 1%;
margin-bottom: 30px;

}

.side_bar img{
  /*width: 100%;*/
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.reseller_panel{
  font-size: 18px;
  font-weight: 600;
}

table.reseller_panel td{
padding: 15px 15px 15px 15px;
background: #eeeeee;
border: 1px solid #ffffff ;
}

.panel-heading.name h2{
  color: #575756;
  font-size: 38px;
  text-decoration: none;
  padding-top: 15px;
}

.panel-body.count{
   font-size: 18px;
}

.panel.league{
  width: 100%;
  overflow: scroll;
  height: 710px;
  margin-top: -73px;
}
td.rank {
	text-align: center;
}



 /* *****BEGIN******  Portrait tablet to landscape and desktop DETAILS HTML *****BEGIN****** */
  /* *****BEGIN******  min-width: 580px  max-width: 979px DETAILS HTML *****BEGIN****** */
  

@media (min-width: 580px) and (max-width: 979px) {

.intro-body h2{
  font-size: 34px;
   font-weight: bold;
}

.intro-body p{
    font-size: 16px;
}

.side_bar{
  padding-top: 2%;
  margin-bottom: 12%;

}

.side_bar h2{
  font-size: 24px;
}

.side_bar p{
  font-size: 18px;
  line-height: 21px;
}

}/*END MEDIA*/

 /******END******  min-width: 580px  max-width: 979px DETAILS HTML *****END*******/


/******BEGIN******  min-width: 300px  max-width: 579px DETAILS HTML *****BEGIN*******/
 @media (min-width: 300px) and (max-width: 579px) {

   .intro-body{
    margin-top: 5%;
    text-align: center;
  }

.intro h2{
  font-size: 21px;
  font-weight: bold;
}

.intro-body p{ font-size: 14px;}

.side_bar{
  padding-top: 2%;
  margin-bottom: 2%;
  margin-bottom: 23%;
}

.side_bar h2{
  font-size: 18px;
  font-weight: bold;
}

.side_bar p{
  font-size: 14px;
  line-height: 18px;
}
} /*END MEDIA*/


/********END******* DETAILS HTML PAGE STYLES  *******END********/

/********** MEDIA QUERIES FOR LOGO AND INFO NUMBERS ONLY **********/

@media (min-width: 500px) and (max-width: 770px) {

img.rugby-logo {
  max-width: 100px;
  
  }
  .exertis_info{
   
      font-family: 'Muli', sans-serif;
      font-size: 12px;
      margin-top: -25px;

    }
  }/*END MEDIA*/

@media (min-width: 300px) and (max-width: 499px){

  img.rugby-logo {
  max-width: 100px;
  
  }

  .exertis_info{
   
      font-family: 'Muli', sans-serif;
      font-size: 12px;
      position:relative;
      right: 10px;
      margin-top: -25px;
    }
}/*END MEDIA*/

/********** END MEDIA QUERIES FOR LOGO AND INFO NUMBERS ONLY **********/