<!-- BEGIN TEMPLATE-->
<template name="layout">

<!--BEGIN HEADER-->
  <header class="navbar navbar-default" role="navigation">
    <div class="navbar navbar-range exertis-nav" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>-->
      <a href="index.html" title="Samsung Home"><img src="./images/exertis-micro-p.gif" alt="Exertis" class="img-responsive samsung-logo menu-logo animated fadeIn logo" ></a> </div>
    </div>
</div>
  </header><!--END HEADER-->
  
  <!-- BEGIN CONTAINER-->
  <div class="container">
    <!--<header class="navbar navbar-default" role="navigation"> 
      <div class="navbar-header">
        <a class="navbar-brand" href="{{pathFor 'leaguesList'}}">Exertis Rugby Leagues</a>
      </div>
    </header>-->

      <!-- BEGIN JUMBOTRON--> 
      <div class="jumbotron">
        
        <img src="./images/exertis_rugby_cup_banner.jpg" alt="Exertis Rugby Cup Predictor" >

        <div class="intro" id="panel_intro">
        <div class="intro-body">
          <h1>Win a trip to the Rugby World Cup</h1>
          <p>We are giving you the chance to win a VIP experience at the England vs Wales game on the 26th September 2015 courtesy of Exertis. The prize includes a four course meal in a suite within Twickenham stadium, category A match ticket, a complimentary bar and much more.</p>
        </div> <!--INTRO-BODY-->
      </div><!-- END INTRO-->

    </div><!-- END JUMBOTRON-->

      <!--</div>-->
    
<!-- BEGIN MAIN-->
    <div id="main">
      {{> yield}}
    </div><!-- END MAIN-->

  </div><!-- END CONTAINER-->
</template><!-- END TEMPLATE-->
