<!-- BEGIN TEMPLATE-->
<template name="layout">

<!--BEGIN HEADER-->
  <header class="navbar navbar-default" role="navigation">
    <div class="navbar navbar-range exertis-nav" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>-->
      <a href="http://localhost:3000/" title="Samsung Home"><img src="/images/exertis-micro-p.gif" alt="Exertis" class="img-responsive samsung-logo menu-logo animated fadeIn logo" ></a> </div>
    </div>
</div>
  </header><!--END HEADER-->
  
  <!-- BEGIN CONTAINER-->
  <div class="container">
    <!--<header class="navbar navbar-default" role="navigation"> 
      <div class="navbar-header">
        <a class="navbar-brand" href="{{pathFor 'leaguesList'}}">Exertis Rugby Leagues</a>
      </div>
    </header>-->



      <!--</div>-->
    
<!-- BEGIN MAIN-->
    <div id="main">
      
      {{> yield}}
    </div><!-- END MAIN-->

  </div><!-- END CONTAINER-->
</template><!-- END TEMPLATE-->
