<template name="loginUpdatedUploadBar">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <ul class="nav navbar-nav navbar-left">{{> loginButtons}}</ul>
            </div>
            <div class="col-md-6 updatedat text-right">
                Updated: {{updatedAt}}
            </div>
        </div>
        <div class="row">
            {{#if currentUser}}
                {{> upload_bootstrap fileTypes='.csv' multiple=false}}
            {{/if}}
        </div>
    </div>

</template>
